@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Volkhov:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Volkhov:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Metal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&family=Sumana:wght@700&family=Telex&display=swap');


*{
    margin: 0;
    list-style: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body{
    background-color: #F4F3F1;
    margin: 0 auto;
    min-height: 100vh;
}

.top1 .text{
    position: absolute;
    width: 459px;
    height: 442px;
    left: 129px;
    top: 331px;
    
    font-style: normal;
    font-size: 50px;
    line-height: 140.31%;
}


.top1 .container{
    display: flex;
    min-height: 95vh;
    margin: auto;
}

.top1 .left{
    padding:200px 210px 0; 
    width: 50%;
}

.top1 .left h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: 2.5px;
}

.top1 h1 span{
    letter-spacing: -5px;
}

.top1 .satu{
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

.top1 .inner-container{
    max-width: 350px;
    margin: auto;
}

.top1 .right{
    width: 50%;
}

.top1 .bg-image{
    background-image: url(../image/about-asset/top.png);
    background-size: cover;
    background-position: center center;
}

.second-line .left{
    position: relative;
    height: 480px;
    min-width: 215px;
    background-color: 
    rgba(111, 0, 0, 1);
}

.second-line .right{
    position: relative;
    margin-left: auto;
    height: 480px;
    width: 215px;
    background-color: rgba(34, 1, 1, 1);
}

.second-line .mid{
    margin-left: auto;
}

.second-line .container .mid .text h1{
    font-family: 'Volkhov', serif;
    font-size: 4.5rem;
}

.second-line .container .mid .text p{
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    max-width: 25em;
    text-align: justify;
    padding-top: 50px;
}


.second-line p span{
    font-size: 0.9em;
    font-family: 'Cormorant Garamond', serif;
}

.second-line .container .inner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-box {
    display: flex;
    justify-content: center;
    margin: auto;
    /* background-color: aqua; */
}

.one{
    /* position: static; */
    margin: 4em 0 0;
    width: 1070px;
    /* margin-left: 215px; */
    height: 5px;
    background-color: black;
}

.two{
    /* position: static; */
    margin: 0.5em 0 3rem;
    width: 1070px;
    /* margin-left: 215px; */
    height: 3px;
    background-color: black;
}

.top3 .container{
    display: flex;
    height: 8rem;
    align-items: top;
    justify-content: center;
}

.top3 .container h1{
    font-size: 60px;
    font-family: 'Volkhov', serif;
    font-weight: 700;
    margin: auto;
}

.scroll-container img{
    width: 100%;
}

.scroll-container h1{
    margin: 0.5rem 0;
}

/* container and cards */
.scroll-container .inner-container{
    z-index: 5;
    position: relative;
    width: 100%;
    margin: 0.2rem 13.3rem;
    height: 480px;
    overflow: hidden;
    cursor: grab;
    /* border-top: 10px solid #f00; */
}

.scroll-container{
    /* position: static; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-container .cards{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(6, 600px);
    grid-gap: 50px;
    pointer-events: none;
    /* border-bottom: 10px solid #00f; */
}

.card {
    /* border: 1px solid #ccc; */
    border-radius: 1rem;
    overflow: hidden;
}

.card_content{
    color : black;
    padding: 0.8rem;
}

.card_content h2{
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.card_content p{
    text-align: center;
    font-family: 'Metal', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}

.card_content p span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.thin-line{
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    justify-content: center;

}

.thin-line .line{
    width: 1070px;
    height: 2px;
    margin: 0.5em 0 4rem;
    background-color: rgba(190, 190, 190, 1);
}


.ourTeam-container h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Volkhov', serif;
}

.ourTeam-container h2{
    text-align: center;    
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.9rem;
    margin-top: 30px;
    margin-bottom: -15px;
}
.ourTeam-container p{
    text-align: center;    
    font-size: 1.7rem;
    font-family: 'Metal', cursive;
}

.ourTeam-container .founder-satu{
    margin: 0 230px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.ourTeam-container .founder-dua{
    margin: 0 230px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.responsive{
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.ourTeam-container .inner-container{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.bottom-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bottom-container .inner-container{
    position: relative;
    /* background-color: aqua; */
    margin: 0 0 10rem;
}

.block{
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.block img{
    width: 100%;
    height: auto;
}

.block .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50% -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 23px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.block .btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transition: .4s ease-out;
}

.bottom-container .blocks{
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 50px;
    flex: 25%;
    max-width: 25%;
}

@media (max-width: 1130px) {

}

@media (max-width: 574px) {

}