/* General */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  display: block;
  width: 100vw;
  background-color: #f4f3f1;
}
.head {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: space-between;
  padding: 200px 70px;
}
.head .left-col {
  display: block;
  width: 20%;
  text-align: center;
}
.head .left-col .line {
  width: 100%;
  background-color: #cccccc;
  height: 1.5px;
}
.head .left-col .dropdown {
  padding: 12px 0;
  text-align: left;
}
.head .left-col .dropdown .top {
  display: flex;
  justify-content: space-between;
}
.head .left-col .dropdown ul li {
  list-style: none;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  transition: ease 0.2s;
}
.head .left-col .dropdown ul li:hover {
  font-size: 23px;
  font-weight: bold;
}
.head .left-col .dropdown ul.price li:hover {
  font-size: 20.5px;
}
.head .left-col .dropdown a {
  color: #000000;
}

.head .left-col .dropdown .collapsible {
  background-color: #f4f3f1;
  font-size: 30px;
  font-weight: bold;
  font-family: Perpetua, serif;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:after {
  content: "\002B";
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 2px;
}

.collapsible.active:after {
  content: "\2212";
}

.head .left-col .collapse-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.head .left-col img {
  width: 100%;
  padding-top: 25px;
}
.head .right-col {
  width: 70%;
  height: 150vh;
  overflow: hidden;
}

.head .right-col .poster {
  width: 100%;
}
.product {
  /* padding: 10px; */
  text-align: center;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
.product .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.product .pro {
  width: 23%;
  padding: 10px 0px;
  cursor: pointer;
  margin: 15px 0;
  position: relative;
  transition: ease 0.2s;
}
.product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product .pro .person {
  width: 100%;
}
.product .pro .des {
  padding: 10px 0;
}
.product .pro .likeButton {
  width: 30px;
  min-width: 30px;
  max-width: 60px;
  line-height: 40px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 85px;
  right: 10px;
}
.product .pro:hover .person {
  display: none;
}
.product .pro:hover .hover {
  width: 100%;
  display: block;
}
.product .pro .hover {
  display: none;
}
.head .right-col .load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10px;
}
.head .right-col .load-btn {
  padding: 10px 70px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  font-family: "Patua One", cursive;
  cursor: pointer;
  text-align: center;
  transition: ease 0.2s;
}
.head .right-col .load-btn:hover {
  background-color: #7c7c7c;
}
@media (max-width: 1130px) {

}

@media (max-width: 574px) {

}