footer {
  /* padding: 15% 0; */
  /* display: block; */
}
.footer {
  margin-top: 90px;
  display: block;
  position: relative;
  background-color: #1a1a1a;
  width: 100vw;
  height: 150vh;
  color: white;
}
