/* GENERAL */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #f4f3f1;
}
.container-1 {
  display: block;
  width: 100vw;
  height: 120vh;
}
.container-2 {
  display: block;
  width: 100vw;
  height: 80vh;
}
.container-3 {
  display: block;
  width: 100vw;
  height: 160vh;
}
.container-4 {
  display: block;
  width: 100vw;
  height: 120vh;
}
.border-line1 {
  position: relative;
  background-color: #000000;
  width: 30%;
  height: 5px;
}
.border-line2 {
  background-color: #000000;
  width: 30%;
  height: 5px;
  margin-left: 70%;
}
.header {
  background-image: url("../image/home-asset/background1.png");
  height: 880px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header .text-box {
  width: 100%;
  position: absolute;
  padding-top: 461px;
  padding-left: 2.8%;
  text-align: left;
  color: #f4f3f1;
  font-family: Perpetua, serif;
  font-weight: bold;
}
.text-box h1 {
  font-size: 90px;
}
.text-box p {
  margin-bottom: 15px;
  font-size: 75px;
}
.button-shop {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  border: 1.5px solid #000000;
  color: #000000;
  padding: 8px 36px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  cursor: pointer;
  transition: ease 0.5s;
}

.button-shop:hover {
  transition: ease 0.5s;
  background-color: #000000;
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

/* COLLABORATION SECTION */
.collaboration {
  padding-left: 92px;
  padding-right: 92px;
  text-align: center;
}
.collaboration img {
  transition: ease 0.5s;
  position: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
  width: 70%;
}
.collaboration img:hover {
  transition: ease 1s;
  margin-top: 60px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
}

/* TRENDING ITEM SECTION */
.trending {
  display: block;
  width: 100%;
}
.trending .button {
  position: relative;
  text-align: center;
  padding-top: 50px;
}
.trending #header {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
}
.trending .images {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 50px;
}
.trending img {
  transition: ease 0.5s;
  padding: 0px 10px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  margin: 10px 0;
  width: 401px;
  height: 264px;
}
.trending img:hover {
  margin-top: 0;
  transition: ease 0.5s;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}
/* LIMITED ITEM SECTION */
.limited {
  width: 100vw;
  padding: 5% 92px;
}
.limited .left-col {
  /* padding-left: 100px; */
  float: left;
  width: 40%;
}
.limited .right-col {
  float: right;
  width: 60%;
}
.limited img {
  transition: ease 0.5s;
  margin-top: 20px;
  width: 400px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
}
.limited img:hover {
  transition: ease 0.5s;
  margin-top: 0px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
}

.limited .right-col img {
  margin-left: 50%;
}
.limited .button {
  padding: 25px 0;
}
.limited .button.btn1 {
  margin-left: 2rem;
  text-align: left;
}
.limited .button.btn2 {
  margin-right: 2rem;
  text-align: right;
}
.limited .text-box h1 {
  font-family: "Perpetua";
  font-weight: bold;
  font-size: 4.6rem;
  line-height: 86px;
  text-align: right;
  color: #000000;
}
.limited .text-box p {
  color: #ff0000;
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 115px;
  text-align: right;
}

/* ITEM COLLECTION SECTION */
.collect {
  padding-left: 92px;
  padding-right: 92px;
  text-align: center;
}
.collect img {
  transition: ease 0.5s;
  position: block;
  margin-top: 90px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
  width: 70%;
}
.collect img:hover {
  transition: ease 1s;
  margin-top: 60px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
}
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
