@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    list-style: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body{
    background-color: #F4F3F1;
}

.location-container{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    position: relative;
    padding-top: 200px;
    display: flex;
}

.location-container .inner-container{
    width: 100%;
    /* margin: auto; */
}

.location-container .second-container{
    max-width: 1242px;
    padding: 77px 0 180px 0;
    margin: auto;
}


.location-container .sd{
    font-size: 1.183431952662722vw;
    margin-left: 140px;
    margin-top: 1.1875em;
    text-transform: capitalize;
}

.location-container .link-satu{
    /* background-color: blanchedalmond; */
    text-decoration: underline;
    color: black;
}

.location-container .link-dua{
    color: black;
}

.location-container .linked{
    /* background-color: yellow; */
    text-transform: capitalize;
    font-size: 1.183431952662722vw;
    margin-left: 140px;
    margin-top: 1.1875em;
}



.location-container h1{
    text-align: center;
    text-transform: capitalize;
    /* background-color: aqua; */
    margin-top: 2.1176857330703485vw;
}

.location-container .row{
    display: flex;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.location-container ul{
    list-style: none;
    margin-right: 390px;
    margin-left: 10px;
    /* background-color: aqua; */
}

.location-container ul li a{
    text-decoration: underline;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
    /* background-color: aquamarine; */
}



