nav{
    position: fixed;
    width: 100%;
    background-color: #F4F3F1;
    z-index: 10000;
}
.top-navbar{  
    padding: 0.5% 2%;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}
.top-navbar .nav-links{
    flex: 1;
    text-align: right;
}
.top-navbar .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
    color: black;
}
.top-navbar .nav-links ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}
.top-navbar .nav-links ul li a:hover{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.head-navbar{
    display: flex;
    padding: 0.5% 2.8%;
    height: 96px;
    justify-content: space-between;
    align-items: center;
}
.head-navbar .logo{
    display: flex; 
    padding-left: 100px;
    align-items: center;
}
.head-navbar .logo img{
    width: 68px;
}
.head-navbar .logo p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 30px;
    color: black;
}
.head-navbar #hamburger{
    height: 36px;
    width: 25.8px;
    cursor: pointer;
}
/* .head-navbar #hamburger::after{
    transform: rotate(90deg);
    transition: 2s;
} */
.dropdown{
    padding: 20px 2%;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}
.dropdown .nav-links{
    flex: 1;
    /* padding: 10px; */
    text-align: center;
    /* justify-content: space-between;
    align-items: center; */
}
.dropdown ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
    color: black;
}
.dropdown ul li a{
    font-family: 'Kreon', serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
/* animation hamburger not done */
/* .hamburg{
    -webkit-animation-name: openAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes openAnimation {
    from {
      -webkit-transform: rotate(0deg) ;
    }
    to {
      -webkit-transform: rotate(90deg);
    }
  } */
/* 
nav .line{
    position: absolute;
    width: 100vw;
    height: 0px;
    left: 0px;
    top: 163px;
    border: 2px solid #5B5B5B;
} */