nav {
  position: fixed;
  width: 100%;
  background-color: #f4f3f1;
  z-index: 3000;
  overflow: hidden;
}
.top-navbar {
  padding: 0.5% 2%;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}
.top-navbar .nav-links {
  flex: 1;
  text-align: right;
}
.top-navbar .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 12px;
  position: relative;
  color: #1c1c1c;
}
.top-navbar .nav-links ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #1c1c1c;
}
.top-navbar .nav-links ul li a:hover {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.head-navbar {
  display: flex;
  padding: 0.5% 2.8%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
}
.head-navbar .logo {
  display: flex;
  padding-left: 100px;
  align-items: center;
}
.head-navbar .logo img {
  width: 68px;
}
.head-navbar .right-menu{
  
}
.head-navbar .logo p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  /* padding-left: 300px; */
  color: #1c1c1c;
}
.head-navbar #hamburger {
  height: 36px;
  width: 25.8px;
  cursor: pointer;
}
.dropbtn {
  cursor: pointer;
}
.rotate {
  transform: rotate(90deg);
  transition: ease 0.1s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.dropdown-content {
  display: none;
  padding: 20px 5%;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dropdown-content .nav-links {
  flex: 1;
  text-align: center;
}
.dropdown-content .nav-links ul li.links {
  list-style: none;
  display: inline-block;
  padding: 0px 12px;
  position: relative;
  color: #404040;
  font-family: "Kreon", serif;
  font-size: 25px;
}
.dropdown-content .nav-links ul li.links:hover {
  color: #000000;
  cursor: default;
}
.nav-links-content {
  display: none;
  padding-top: 2%;
  font-size: 12px;
}
.dropdown-content .new:hover ~ .new-content {
  display: block;
  z-index: 10000;
  transition: ease;
}
.dropdown-content .shop:hover ~ .shop-content {
  display: block;
  z-index: 10000;
  transition: ease;
}
.dropdown-content .collection:hover ~ .collection-content {
  display: block;
  z-index: 10000;
  transition: ease;
}
.dropdown-content .sale:hover ~ .sale-content {
  display: block;
  z-index: 10000;
  transition: ease;
}
.nav-links-content ul {
  display: inline-block;
}
.nav-links-content ul li {
  display: block;
  list-style: none;
  padding: 0px 12px;
  position: relative;
  padding: 0px 20px;
  text-align: left;
}
.nav-links-content ul li a:hover {
  transition: ease;
  color: #464646;
}
.nav-links-content ul li a {
  font-family: "Perpetua";
  font-size: 25px;
  text-decoration: none;
  color: #606060;
}
.show {
  display: block;
}
.underline {
  background-color: #000000;
  width: 100%;
  height: 5px;
}
/* in progress */
/* Search Bar */
::selection {
  color: #fff;
  background: #664aff;
}
.wrapper {
  position: static;
  /* display: block; */
  /* padding-right: 100px; */
  /* max-width: 450px; */
  /* margin: 150px auto; */
}
.wrapper .search-input {
  background: #fff;
  /* width: 40%; */
  /* border-radius: 5px; */
  /* position: fixed; */
  /* box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12); */
}
.search-input input {
  height: 30px;
  /* width: 100%; */
  border: #000000;
  /* outline: 1px black; */
  /* border: 1px black; */
  /* border-radius: 5px; */
  padding: 0 60px 0 20px;
  font-size: 14px;
  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
}
.search-input.active input {
  /* border-radius: 5px 5px 0 0; */
}
.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}
.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
